.section4 {
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 70px;
  margin-bottom: 20vh;
}
.heading {
  width: 80%;
  text-align: left;
}
.heading > p {
  position: relative;
  color: rgba(95, 114, 190, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.heading > p::after {
  content: "";
  position: absolute;
  height: 0.1px;
  top: 8px;
  left: 190px;
  width: 435px;
  border: 1px solid #5f72be;
  background-color: rgba(95, 114, 190, 1);
}
.images {
  margin-top: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.img1 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  opacity: 0.4;
  margin-right: 20px;
  object-fit: cover;
}
.img2 {
  width: 125px;
  height: 125px;
  border-radius: 50%;

  background-position: 50% 50%;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  margin-right: 20px;
}
.img3 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  opacity: 0.4;
  object-fit: cover;
  object-position: top;
}

.views {
  width: 55%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.views > p {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 5vh;
  font-weight: 550;
}

.views > div > p {
  color: #9921e8;
  font-weight: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 1vh;
}

#description {
  font-weight: 400;
  font-size: 14px;
}

.email {
  border-radius: 13px;
  background-color: #5f72be;
  padding: 18px 45px;
  margin-top: 100px;
  width: 88%;
  display: flex;
  color: #ffff;
  justify-content: space-between;
  /* margin-bottom: 100px; */
}

.email > div {
  margin: 2vh 3vh;
}
.email > div > p {
  margin-bottom: 2vh;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.email > div > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.contactUs {
  background-color: rgba(45, 129, 247, 1);
  /* color: rgba(45, 129, 247, 1); */
  border-radius: 12px;
  color: #ffff;
  font-size: 14px;
  margin: 20px 8px;
  width: 328px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.028em;
  border: none;
  color: #ffffff;
}

.contactUs:hover {
  background-color: rgba(148, 185, 237, 0.341);
  cursor: pointer;
  transition: all 0.3s ease;
}
