.card {
  width: 282px;
  height: 312px;
  left: 64px;
  top: 900px;
  margin-bottom: 7vh;
  background: rgba(217, 217, 217, 0.25);
  box-shadow: 5px 25px 60px rgba(13, 13, 13, 0.277);
  border-radius: 12px;
  transition: all 0.3s;
}

.card:hover {
  transform: translateY(-1vmax);
}

img {
  width: 282px;
  height: 142px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-size: cover;
  background-position: 50% 50%;
}

.courseDetails {
  padding: 4px 20px;
}

.title {
  margin-top: 3px;
  display: flex;
  font-weight: bolder;
  font-size: 16px;
  line-height: 19px;
  color: #0d0d0d;
}

.instructorName {
  margin: 9px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0d0d0d;
}

.ratings {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.rating {
  margin-right: 8px;
  font-weight: 600;
  font-size: 14px;
}

.enrollNow {
  position: relative;
  top: 9px;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  width: fit-content;
  padding: 5px 18px;
  border: 1.8px solid rgba(95, 114, 190, 1);
  color: rgba(95, 114, 190, 1);
}

.enrollNow:hover {
  background-color: #afceeab2;
  transition: all 0.3s ease;
  cursor: pointer;
}

.title > span > svg:hover {
  cursor: pointer;
}
